{% extends 'base.html' %}

{% block content %}
<div class="c1"></div>
<div class="c10" style="background: white; height: calc(100vh - 166px);">
    <div class="content">
        <div class="row">
            <div class="contenter">
                <div class="aaa">
                    <span>Noorderstraat 29 - Amsterdam</span>
                </div>
                <div class="aaa">
                    <span>n29bnb@gmail.com</span>
                </div>
                <div class="aaa">
                    <span>+31204121718</span>
                </div>
            </div>
        </div>
        <h2>Welcome to N29 Bed and Breakfast in Amsterdam.</h2>
        <form method="post">
            <input type="email" name="email" id="email">
            <input type="text" name="name" id="name">
            <input type="text" name="text" id="text">
            <input type="submit" value="Send">
        </form>
    </div>
</div>

<div class="c1"></div>
{% endblock %}