{% extends 'base.html' %}

{% block content %}
<div class="c1"></div>
<div class="c10" style="background: white; height: calc(100vh - 166px);">
    <div class="content">


        <h2>Welcome to N29 Bed and Breakfast in Amsterdam.</h2>
        <p>Our luxury B&amp;B is situated in a relaxed but central quarter of Amsterdam within walking distance of the
            central squares, main museums, theatres and shopping streets, and proudly within the UNESCO world heritage
            canal area.</p>
        <p>Noorderstraat 29 house is possibly 300 years old with wooden floors that date from at least 1871. Our private
            B&amp;B area is on the first floor level and has been completely renovated specifically for our guests with
            en-suite bathrooms, a fully functioning guest kitchen, a breakfast section and a small seating area.</p>
        <p>Registration number: 0363 4BAB A4B2 8C13 955F</p>


    </div>
</div>

<div class="c1"></div>
{% endblock %}